# Amiga related
objects_debug
*.link
*.map
*.qiq
*.info
*.pro.user
*.autosave
*.obj
build-*
!release/**

# All custom build directories
build/

#CMake
CMakeFiles/**
CMakeFiles/
CMakeCache.txt
*.cmake

# gitignore for C++
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
